<!DOCTYPE html>
<html lang="en">
  <head>
    <title>STEM Raspberry Pi Flask Demo</title>
  </head>
  <body>
    <p> The temperature outputting from the arduino is currently {{ temp }} </p>
    <p> The humidity outputting from the arduino is currently {{ humid }} </p>
  </body>
</html>
