<!DOCTYPE html>
<html lang="en">
  <head>
    <title>STEM Raspberry Pi Flask Demo</title>
  </head>
  <body>
    <p> The (fake)temperature is currently {{ temp }} degrees fahrenheit.</p>
    <p> The (fake)humidity is currently {{ humid }}% </p>
    <figure>
          <embed type="image/svg+xml" src="test.svg" />
    </figure>
  </body>
</html>
